@charset "UTF-8";
/*
 파일 개요
 ---------------------------------------------------------------------
 @ 목적 : [가천대 길병원 플랫폼] 공통 레이아웃 정의
 @ 작성 : GRIDA Publishing Team.
 @ 최종 : 2023.05.14.00:00
 @ 메모 : - (거의)모든 페이지에 등장하는 '공통 영역'을 정의한다. 예를들면 상단 헤더, 왼쪽 어사이드, 중앙 메인컨텐트 영역. 
*/

/*
    사용법
    var(--color1)
*/
/*var*/
:root {
	--color1: #19885D; /* #19885D 포인트 색상 */
	--color2: #02B574; /* #02B574 defalut 버튼 hover 색상 */
	--color3: #E6F8F1; /* #E6F8F1 추가 삭제 버튼 배경 색상 */
	--color4: #F6F9F8; /* #F6F9F8 배경 색상 */

    --main-color1 : #23ACAD;
    --main-color2 : #0CAE6A;
    --main-color3 : #43BE7C;
    --main-color4 : #2A8CC3;
    --main-color5 : #63A4E0;
    --main-color6 : #6554A8;
    --main-color7 : #9392E0;
    --main-color8 : #A650A8;
}

/*z-index*/
.toast { z-index: 1100; } 
.alert { z-index: 1000; } 
.modal { z-index: 900; } 
.layer { z-index: 900; } 
.dim { z-index: 800; } 
.plf-header { z-index: 500; } 

/**/
body { min-width: 1600px; max-width: 100vw; } 
.plf-root { min-width: 1600px;}
.plf-root .plf-header { position: fixed; top: 0; left: 0; display: flex;align-items: center; width: 100%; height: 56px;border-bottom: 1px solid #E5E5E5; background: #fff; min-width: 1180px; } 
.plf-root .plf-header .left-area {padding-left: 32px;} 
.plf-root .plf-header .right-area {padding-right: 32px;margin-left: auto;}
.plf-root .plf-header .right-area .plf-util{display: flex;align-items: center;}
.plf-root .plf-header .right-area .user-agency{font-size:14px;line-height:18px;letter-spacing: -0.03em;font-weight: 600;}
.plf-root .plf-header .right-area .user-name{font-size:14px;line-height:18px;letter-spacing: -0.03em;font-weight: 600;color: var(--color1);}
.plf-root .plf-header .right-area .btn-logout{margin-left: 12px;}

.plf-root .plf-group-aside-con { position: relative; display: flex; min-height: calc(100vh - 57px); width: 100%;padding-top: 57px;background-color: var(--color4); } 
.plf-root .plf-group-aside-con .plf-aside { /*flex-grow: 0; flex-shrink: 0; flex-basis: auto;*/ width: 260px;padding: 34px 29px; box-sizing: border-box; } 
.plf-root .plf-group-aside-con .plf-aside .depth1{padding-left:0;margin:0;}
.plf-root .plf-group-aside-con .plf-aside .depth1 li + li{margin-top: 22px;}
.plf-root .plf-group-aside-con .plf-aside .depth1 li .dpt1-tit{display: block;font-weight: 600;font-size:22px;line-height: 26px;color: #1e1e1e;margin:0 0 18px 0;padding-left: 16px;cursor: pointer;position: relative;}
.plf-root .plf-group-aside-con .plf-aside .depth1 li .dpt1-tit:after{content: '';display: inline-block;width: 10px;height: 10px;position: absolute;right:0;top:50%;margin-top: -5px; background: url(../img/icon/ic_arrow_down_gray.svg) no-repeat center right/ 10px auto;}
.plf-root .plf-group-aside-con .plf-aside .depth1 li .dpt1-tit.active:after{transform: rotate(180deg);}
.plf-root .plf-group-aside-con .plf-aside .depth1 .depth2{padding-left:0;margin:0}
.plf-root .plf-group-aside-con .plf-aside .depth1 .depth2 li + li{margin-top: 8px;}
.plf-root .plf-group-aside-con .plf-aside .depth1 .depth2 li a{display: flex;align-items: center;font-size: 16px;line-height: 20px;font-weight: 600;padding:10px 10px 10px 16px;}
.plf-root .plf-group-aside-con .plf-aside .depth1 .depth2 li.selected a{background-color:  var(--color1);border-radius: 8px;color: #fff;}
.plf-root .plf-group-aside-con .plf-aside .depth1 .depth2 li.selected a::before{content: '';display: inline-block; width: 6px;height: 6px;background-color: #fff;border-radius: 100%;margin-right: 12px;}

.plf-root .plf-group-aside-con .plf-con { /*flex-grow: 1; flex-shrink: 0; flex-basis: auto;*/ width: calc(100vw - 260px);}

.plf-root.main .plf-gnb{position: fixed; top: 57px; left: 0;z-index: 500; width: 100%;height: 56px;display: flex;justify-content: space-between;align-items: center;background-color: var(--color4);padding: 0 32px;box-sizing: border-box;} 
.plf-root.main .plf-gnb .btn-menu{display: block;width: 30px;height: 30px;background: url(../img/icon/ic_menu.svg) no-repeat center} 
.plf-root.main .plf-gnb .auth-sel{position: relative;} 
.plf-root.main .plf-group-aside-con{min-height: calc(100vh - 163px);background-color: #fff;padding:113px 0 50px;} 
.plf-root.main .plf-group-aside-con .plf-aside{position: fixed;left:-260px;top:113px;z-index: 900;background-color: var(--color4);min-height: calc(100vh - 113px);transition: all 0.5s ease-out;}
.plf-root.main .plf-group-aside-con .plf-aside.active{left:0px;}
.plf-root.main .plf-group-aside-con .plf-con {width: 100vw;}

.plf-root .plf-group-aside-con .plf-con .plf-main { /* min-height: 736px;*//* min-height: calc(100vh - 145px);*/position: relative; } 
.plf-root .plf-group-aside-con .plf-con .plf-main .inner{background-color: var(--color4);  padding: 10px 0 30px;}
.plf-root .plf-group-aside-con .plf-con .plf-main .inner-con{width: 1330px;margin:0 auto;}
.plf-root .plf-group-aside-con .plf-con .plf-main .inner-board{width: 1330px;margin:0 auto;}

.plf-root .plf-group-aside-con .plf-con .plf-sub { /* min-height: 736px; */min-height: calc(100vh - 145px); min-width: 1180px; padding: 40px 32px 48px 0;background-color: var(--color4);position: relative; } 
.plf-root .plf-group-aside-con .plf-con .tit-pagetitle { font-size: 30px; font-weight: 600; color: #1E1E1E; margin-bottom: 32px; } 
.plf-root .plf-group-aside-con .plf-con .tit-subtitle { font-size: 20px; font-weight: 600; color: #1E1E1E; margin-bottom: 24px; } 

.plf-root .plf-group-aside-con .plf-con .auth-sel{position: absolute;right:32px;top:16px;z-index: 1;}

/* plf-tab */
.plf-tab { position: relative; border: 0;} 
.plf-tab .tab-con {padding: 24px 32px 40px; border: 1px solid #E0E0E0;background: #fff;border-radius: 0 12px 12px 12px;box-shadow: rgba(149, 157, 165, 0.2) 8px 8px 8px;min-height: calc(100vh - 250px);}
.plf-tab .tab-con { display: none; } 
.plf-tab .tab-con.active { display: block; } 
.plf-tab .tab{position: relative;overflow: hidden;padding-right: 50px;margin-bottom: -1px;}
.plf-tab .tab .item {display: inline-block;vertical-align: top; width: 166px; line-height: 38px;padding: 0 33px 0 20px;position: relative;}
.plf-tab .tab .item em{display:block;max-width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color: #929292;font-weight: 500;}
.plf-tab .tab .item .btn-del {position: absolute;right:12px;top:15px; display: inline-block;vertical-align: middle;margin: -2px 0 0 10px; width: 12px; height: 12px; background: url(../img/icon/ic_tab_del.svg) no-repeat center/8px;}
.plf-tab .tab .item.active em{color:  var(--color1);font-weight: 700;}
.plf-tab .tab .item.active .btn-del {background:url(../img/icon/ic_tab_del_active.svg) no-repeat center/8px;}
.plf-tab .item-etc {position: absolute;right:224px;top:6px; width: 190px;text-align: right;}
.plf-tab .item-etc .btn-etc{width: 48px;height: 32px;font-size: 20px;line-height: 0;font-size: 32px;border-radius: 12px 12px 0px 0px;background: var(--color3);color: var(--color1);}
.plf-tab .item-etc .tab-list{display: none; border:1px solid  var(--color1);border-radius: 8px 0 8px 8px;padding:4px 20px;background-color: var(--color3);text-align: left;}
.plf-tab .item-etc .tab-list li{display: flex;padding:6px 0;justify-content: space-between;align-items: center;}
.plf-tab .item-etc .tab-list li a{display: block;font-size: 16px;font-weight: 500; line-height: 20px;color:  var(--color1);overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.plf-tab .item-etc .tab-list li .list-del {display: inline-block; width: 12px; height: 12px; background: url(../img/icon/ic_tab_del_active.svg) no-repeat center/8px;}
.plf-tab .item-etc.active .tab-list{display: block;}
.plf-tab .item-etc.active .btn-etc{position: relative;color: #fff;border:1px solid var(--color1);border-bottom: none;}
.plf-tab .item-etc.active .btn-etc:after { content: ""; display: block; position: absolute; left: 0; bottom: -1px; width: 46px; height: 1px; background: var(--color3); } 

.plf-root .plf-group-aside-con.wide .plf-aside { display: none; }
.plf-root .plf-group-aside-con.wide .plf-con{width: 100%;}
